<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.aots_backend.repository.UserMapper">

    <resultMap id="UserResultMap" type="com.example.aots_backend.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="active" column="active"/>
    </resultMap>

    <select id="findAll" resultMap="UserResultMap">
        SELECT id, name, email, active FROM users
    </select>

    <insert id="insertUser" parameterType="com.example.aots_backend.model.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, email, active)
        VALUES (#{name}, #{email}, #{active})
    </insert>

    <update id="updateUser" parameterType="com.example.aots_backend.model.User">
        UPDATE users
        SET name = #{name}, email = #{email}, active = #{active}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM users WHERE id = #{id}
    </delete>
    <select id="findById" parameterType="int" resultMap="UserResultMap">
        SELECT id, name, email, active
        FROM users
        WHERE id = #{id}
    </select>


</mapper>
